// @mixin mixin-name($placeholder, ...) {}
@mixin sizing-fontmod($fsize, $ffamily, $fweight, $lheight) {
    font-size: $fsize;
    font-family: $ffamily;
    font-weight: $fweight;
    line-height: $lheight;
}