// @mixin mixin-name($placeholder, ...) {}
@mixin sizing-modifier($sm, $md: 24px, $lg) {
    &--sm {
        font-size: $sm;
    }

    &--md {
        font-size: $md;
    }

    &--lg {
        font-size: $lg;
    }
}

// @mixin mixin-name($placeholder, ...) {}
@mixin sizing-mod($size) {
    font-size: $size;
}