@use './devices.scss';
@use './mixins.scss';

@mixin phone {

    // for screens 428px or smaller
    @media only screen and (max-width: devices.$xs) {
        @content;
    }
}

@mixin desktop {

    // for screens 
    // @media only screen and (min-width: (devices.$xs + 1px)) and (max-width: devices.$lg) {
    //     @content;
    // }
    @media only screen and (min-width: (devices.$xs + 1px)) {
        @content;
    }
}

.navbar {
    @include phone {
        display: none;
    }
    @include desktop {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        height: 45px;
    }
    &__name {
        width: 122px;
        height: 26px;
        @include mixins.sizing-fontmod(23px, DM Sans, 700, 25px);
        letter-spacing: 0px;
    }
    &__menu{
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: right;
        &--right {
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
    button {
        width: 145px;
        height: 45px;
        border-radius: 7px;
        border-width: 1px;
        background-color: white;
    }
}
.header {
    display: flex;
    flex-direction: column; 
    &__wrapper {
        display: flex;
        flex-direction: column; 
    }
    &__greeting {
        @include mixins.sizing-fontmod(20px, Impact, 500, 100%);
    }
    &__description {
        @include mixins.sizing-fontmod(64px, Impact, 600, 120%);
    }
    &__img {
        // hide image
        display: none; 
    }
}
@include desktop{
    .header {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .header__wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .header__img {
        display: block;
        flex: 1;
        margin-left: 20px;
        max-width: 100%;
        height: 100%;
    } 
}
.aboutme {
    &__layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        @include desktop {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 40px;
        }
    }
    &__profile1 {
        display: none;
    
        @include desktop {
            display: block;
            width: 299px;
            height: auto;
            object-fit: cover;
            margin-right: 40px;
        }
    }
    
    &__profile2 {
        width: 100%;
        max-width: 299px;
        height: auto;
        object-fit: cover;
    
        @include desktop {
            display: none;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
            
        @include desktop {
            align-items: flex-start;
        }
    }
    &__title {
        @include mixins.sizing-fontmod(32px, Inter, 600, 100%);
        text-align: center;
        width: 100%;

        @include desktop {
            text-align: left;
            flex-direction: column;
            width: auto;
            align-self: flex-start;
        }
    }

    &__text{
        font-size: 18px;
        font-weight: 400;
        line-height: 180%;
        &--wrapper {
            display: flex;
            flex-direction: column;
            gap: 12px;
            font-family: Inter, sans-serif;
            text-align: center;
            width: 100%;
            @include desktop {
                text-align: left;
                width: auto;
                max-width: calc(100% - devices.$xs);
            }
        }
    }
}
.techskills {
    display: flex;
    flex-direction: column;
    width: 100%; 
    // center horizontally on larger screens
    margin: 0px auto; 
    &__header {
        @include mixins.sizing-fontmod(32px, Inter, 600, 100%);
        text-align: center;
        margin-bottom: 12px;
    }
    &__text {
        @include mixins.sizing-fontmod(16px, Inter, 600, 100%);
        text-align: center;
        margin-bottom: 20px;
    }
    &__skills {
        display: grid;
        @include phone {
            grid-template-columns: repeat(3, 1fr); 
            gap: 1px;
            img {
                width: 20% vw;
                height: auto;
                display: block;
                margin: 0 auto;
            }
        }
        @include desktop {
            grid-template-columns: repeat(9, 1fr); 
            justify-content: center; 
            gap: 20px;
            img {
                width: 30% vw ;
                height: auto;
                display: block;
                margin: 0 auto;
            }
        }
        &--text {
            @include mixins.sizing-fontmod(16px, Inter, 500, 100%);
            text-align: center;
            margin-top: 6px;
        }
    } 
}
.project {
    display: flex;
    flex-direction: column;
    gap:25px;
    &__header{
        @include mixins.sizing-fontmod(32px, Inter, 600, 100%);
        text-align: center;
    }
    &__layout{
        display: grid;
        @include phone {
            grid-template-columns: 1fr;
            gap: 1px;
        }
        @include desktop {
            grid-template-columns: repeat(2, 2fr);
            justify-content: center;
            gap: 20px;
        }
    }
    &__card {
        display: flex;
        height: 580px;
        width: 373px;
        // stack on top of each other
        flex-direction: column;
        align-items: center;
        @include phone {
            width: 90vw;
        }
    }
    &__img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        background-color: paleturquoise;
        img {
            width: 90%;
            height: auto;
            display: block;
        }   
    }
    &__content{
        display: flex;
        flex-direction: column;
        &--tech {
            @include mixins.sizing-fontmod(16px,Inter,600, 100%);
        }
        &--title{
            @include mixins.sizing-fontmod(38px, Inter, 600, 100%);
        }
        &--text{
            @include mixins.sizing-fontmod(18px, Inter, 400, 160%);
        }
        &--btn{
            display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 20px;
        }
    }
}
.footer {
    &__layout {
        display: flex;
        width: 100%;
        background: rgba(0, 0, 0, 1);    
        @include phone {
            // reverse and stacked
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            gap: 12px;
        }
        @include desktop {
            // all on the same row
            flex-direction: row;
            align-items: center;
            justify-content:space-between;
            padding: 40px;
            gap: 20px;
        }  
    } 
    &__text {
        @include mixins.sizing-fontmod(18px, Inter, 400, 180%);
        color: white;
    }
    &__icons {
        gap: 10px;
        &--iconsize {
            width: 25px;
            height: 25px;       
        }
    }
}