@media only screen and (max-width: 428px) {
  .navbar {
    display: none;
  }
}
@media only screen and (min-width: 429px) {
  .navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 45px;
  }
}
.navbar__name {
  width: 122px;
  height: 26px;
  font-size: 23px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}
.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
}
.navbar__menu--right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navbar button {
  width: 145px;
  height: 45px;
  border-radius: 7px;
  border-width: 1px;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
}
.header__greeting {
  font-size: 20px;
  font-family: Impact;
  font-weight: 500;
  line-height: 100%;
}
.header__description {
  font-size: 64px;
  font-family: Impact;
  font-weight: 600;
  line-height: 120%;
}
.header__img {
  display: none;
}

@media only screen and (min-width: 429px) {
  .header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .header__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .header__img {
    display: block;
    flex: 1;
    margin-left: 20px;
    max-width: 100%;
    height: 100%;
  }
}
.aboutme__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
@media only screen and (min-width: 429px) {
  .aboutme__layout {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
  }
}
.aboutme__profile1 {
  display: none;
}
@media only screen and (min-width: 429px) {
  .aboutme__profile1 {
    display: block;
    width: 399px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 40px;
  }
}
.aboutme__profile2 {
  width: 100%;
  max-width: 399px;
  height: auto;
  object-fit: cover;
}
@media only screen and (min-width: 429px) {
  .aboutme__profile2 {
    display: none;
  }
}
.aboutme__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
@media only screen and (min-width: 429px) {
  .aboutme__content {
    align-items: flex-start;
  }
}
.aboutme__title {
  font-size: 32px;
  font-family: Inter;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 429px) {
  .aboutme__title {
    text-align: left;
    flex-direction: column;
    width: auto;
    align-self: flex-start;
  }
}
.aboutme__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
}
.aboutme__text--wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: Inter, sans-serif;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 429px) {
  .aboutme__text--wrapper {
    text-align: left;
    width: auto;
    max-width: calc(100% - 428px);
  }
}

.techskills {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
}
.techskills__header {
  font-size: 32px;
  font-family: Inter;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
}
.techskills__text {
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.techskills__skills {
  display: grid;
}
@media only screen and (max-width: 428px) {
  .techskills__skills {
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
  }
  .techskills__skills img {
    width: 20% vw;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 429px) {
  .techskills__skills {
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    gap: 20px;
  }
  .techskills__skills img {
    width: 30% vw;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
.techskills__skills--text {
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  margin-top: 6px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.project__header {
  font-size: 32px;
  font-family: Inter;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
}
.project__layout {
  display: grid;
}
@media only screen and (max-width: 428px) {
  .project__layout {
    grid-template-columns: 1fr;
    gap: 1px;
  }
}
@media only screen and (min-width: 429px) {
  .project__layout {
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    gap: 20px;
  }
}
.project__card {
  gap: 15px;
  display: flex;
  height: 50%;
  width: 600px;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 428px) {
  .project__card {
    width: 90vw;
  }
}
.project__img {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  background-color: paleturquoise;
}
.project__img img {
  width: 90%;
  height: 95%;
  display: block;
}
.project__btn {
  position: absolute;
  top: 5px;
  left: 10px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  -index: 2;
}
.project__btn--red, .project__btn--amber, .project__btn--green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.project__btn--red {
  background-color: rgb(236, 92, 92);
}
.project__btn--amber {
  background-color: rgb(255, 219, 125);
}
.project__btn--green {
  background-color: rgb(62, 233, 79);
}
.project__content {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.project__content--tech {
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 100%;
}
.project__content--title {
  font-size: 38px;
  font-family: Inter;
  font-weight: 600;
  line-height: 100%;
}
.project__content--text {
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 160%;
}
.project__content--btn {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
}

.footer__layout {
  display: flex;
  margin-top: 10px;
  width: 100%;
  background: rgb(0, 0, 0);
}
@media only screen and (max-width: 428px) {
  .footer__layout {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}
@media only screen and (min-width: 429px) {
  .footer__layout {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
  }
}
.footer__text {
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 180%;
  color: white;
}
.footer__icons {
  gap: 10px;
}
.footer__icons--iconsize {
  width: 25px;
  height: 25px;
}
